In [200]:
# Upload library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency

In [201]:
pd.set_option('max_colwidth', 400)

In [202]:
# Define the file path
file_path_1 = './Versions/Version_1/Version1_ Interact.csv'
file_path_2 = './Versions/Version_2/Version_2_Connect.csv'
file_path_3 = './Versions/Version_3/Version_3_Learn.csv'
file_path_4 = './Versions/Version_4/Version_4 _Help.csv'
file_path_5 = './Versions/Version_5/Version_5_Services.csv'
# Read the CSV file into a pandas DataFrame
Interact = pd.read_csv(file_path_1)
Connect = pd.read_csv(file_path_2)
Learn = pd.read_csv(file_path_3)
Help = pd.read_csv(file_path_4)
Services = pd.read_csv(file_path_5)

In [203]:
Interact.head(2)

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information
0,128,area,Montana State University - Home,1291,False,Homepage Version 1 - Interact • http://www.lib.montana.edu/index.php
1,69,a,FIND,842,True,"created 5-29-2013 • 20 days 4 hours 21 mins • 10283 visits, 3714 clicks"

In [204]:
Connect.head(3)

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information
0,74,a,FIND,502,True,Homepage Version 2 - Connect • http://www.lib.montana.edu/index2.php
1,66,input,s.q,357,True,"created 5-29-2013 • 20 days 7 hours 34 mins • 2742 visits, 1587 clicks"
2,72,a,lib.montana.edu/find/,171,True,NaN

In [205]:
Learn.head(3)

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information
0,69,a,FIND,587,True,Homepage Version 3 - Learn • http://www.lib.montana.edu/index3.php
1,61,input,s.q,325,True,"created 5-29-2013 • 20 days 12 hours 21 mins • 2747 visits, 1652 clicks"
2,67,a,lib.montana.edu/find/,142,True,NaN

In [206]:
Help.head(3)

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information
0,74,a,FIND,631,True,Homepage Version 4 - Help • http://www.lib.montana.edu/index4.php
1,66,input,s.q,364,True,"created 5-29-2013 • 20 days 4 hours 59 mins • 3180 visits, 1717 clicks"
2,72,a,lib.montana.edu/find/,139,True,NaN

In [207]:
Services.head(4)

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information
0,69,a,FIND,397,True,Homepage Version 5 - Services • http://www.lib.montana.edu/index5.php
1,61,input,s.q,323,True,"created 5-29-2013 • 20 days 4 hours 59 mins • 2064 visits, 1348 clicks"
2,67,a,lib.montana.edu/find/,106,True,NaN
3,62,button,Search,85,True,NaN

In [199]:
Total_Click = [3714,1587,1652,1717,1348]
Click_CTA = [42,53,63,38,45]
Visits = [10283,2742,2747,3180,2064 ]

observed_results = pd.DataFrame([Total_Click, Click_CTA,Visits],
                                  columns = ["Interact", "Connect", "Learn", "Help" , "Services"],
                                  index = ["Total_Click", "Click_CTA", "Visits"])
observed_results

             Interact  Connect  Learn  Help  Services
Total_Click      3714     1587   1652  1717      1348
Click_CTA          42       53     63    38        45
Visits          10283     2742   2747  3180      2064

Null Hypothesis: The 5 versions of the button are equally likely to receive clicks, and the observed differences are due to chance.

Alternative Hypothesis: The observed differences are not due to chance: there is at least one version that got so many more/much less clicks than the others that this can hardly be explained just by chance (i.e. they have a better/worse CTR, a better/worse performance).

In [208]:
# Set the significance level (alpha)
alpha=0.10 # for CI 90%

In [209]:
# Chi-squared test
chisq, pvalue, df, expected = chi2_contingency(contingency_table)

In [210]:
chisq

1381.1890460824366

In [218]:
pvalue
if pvalue > alpha:
  print("The p-value is larger than alpha.")
else:
  print("The p-value is smaller than alpha.")

The p-value is smaller than alpha.

In [214]:
df

4

In [217]:
if pvalue < alpha:
    print("Reject the null hypothesis: There is a difference in CTR for the different versions.")
else:
    print("Fail to reject the null hypothesis: All versions have the same CTR.")

Reject the null hypothesis: There is a difference in CTR for the different versions.